body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.post {
    max-width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.post:hover {
    transform: translateY(-5px);
}

.imagem-container {
    position: relative;
}

.imagem-container img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.descricao {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.descricao h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.descricao p {
    font-size: 16px;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
